html {
    background-color: black;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 700px;
    height: 500px;
    border: 1px solid ghostwhite;
    outline: 2px solid red;
    outline-offset: 25px;
}

#game-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#battle-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
