@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

html {
    background-color: black;
    font-family: 'Press Start 2P', monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: ghostwhite;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-image: url('imgs/bg.png');
    border: 1px solid ghostwhite;
    outline: 2px solid red;
    outline-offset: 25px;
}

#top-text {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px;
    color: rgb(0, 231, 19);
}

#score {
    color: ghostwhite;
}

#bottom-screen {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#play-audio {
    margin-top: 60px;
    font-size: 16px;
    cursor: pointer;
}

#controls {
    margin-top: 50px;
}

#enter-name {
    background-color: transparent;
    width: 200px;
    margin-top: 60px;
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-top: 2px solid rgb(255, 174, 0);
    border-bottom: 2px solid rgb(255, 174, 0);
    color: rgb(255, 174, 0);
    padding: 16px;
    font-family: 'Press Start 2P', monospace;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

#enter-name::placeholder {
    color: rgb(173, 119, 1);
    text-align: center;
}

#enter-name:focus {
    animation: flickerAnimation 0s;
}

#start {
    position: relative;
    margin-top: 70px;
    color: rgb(255, 174, 0);
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.animate-flicker {
    animation: flickerAnimation .5s infinite;
}

#click {
    display: none;
    margin: 0px auto;
    margin-top: 75px;
    margin-bottom: 22px;
    position: relative;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-family: 'Press Start 2P', monospace;
    font-size: 18px;
    color: red;
    background-color: black;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    padding: 16px;
}

#click:hover {
    color: rgb(255, 174, 0);
    border-top: 3px solid rgb(255, 174, 0);
    border-bottom: 3px solid rgb(255, 174, 0);
    animation: flickerAnimation 0s;
}

#background {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 700px;
    height: 500px;
    z-index: 1;
}

#ship {
    width: 70px;
    height: 84px;
    background-image: url('imgs/ship.png');
    position: absolute;
    left: 310px;
    top: 400px; 
    z-index: 2;
}

#laser-bullets {
    width: 700px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

.bullet1 {
    width: 5px;
    height: 24px;
    background-image: url('imgs/bullet.png');
    position: absolute;
}

#enemies {
    width: 700px;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4;
}

.enemy {
    width: 30px;
    height: 48px;
    background-image: url('imgs/enemy.png');
    position: absolute;
}

#game-over {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url('imgs/DarthVader.png');
    width: 600px;
    height: 379px;
}

.over {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.9);
    width: 230px;
    height: 100px;
}

#game-over p {
    font-size: 20px;
    margin: 15px auto;
}

#game-over a {
    display: block;
    text-decoration: none;
    background-color: rgb(255, 174, 0);
    text-align: center;
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    color: black;
    font-size: 13px;
    margin: 0px auto;
    border: 4px solid black;
    letter-spacing: 1px;
}